// Headings
.heading-01 {
	font: $fontAgendaLightBold;
}

.heading-02 {
	font: $fontAgendaMediumCondensed;
}

.heading-03 {
	font: $fontAgendaLight;
}

// Paragraphs
.copy-01 {
	font: $fontAgendaLight;
}

.copy-02 {
	font: $fontAgendaLight;
}