/**
 *	Page - achievements-detail
 */

.view.view-achievements-detail {
	display: none;
	@include respond-to("small") {
		display: block;
		.back_button {
			display: block;
			position: absolute;
			left: 20px;

			img {
				@include size(50px);
				cursor: pointer;
			}
		}

		.user-profile {
			height: 25%;
			display: block;
		}

		.achievements {
			height: 75%;
			padding: 15px 15px;
			display: block;
		}

		.stars {
			padding: 22px 0 0;
			display: block;
			margin: 0 auto;
			list-style: none;
			height: 50px;
			text-align: center;

			.star {
				@include size(30px);
				display: inline-block;
				margin: 0 auto;
				padding: 0 10px;

				&.high {
					padding-bottom: 10px;
				}

				.star-image {
					@include size(30px);
				}
			}
		}

		.peers {
			padding: 15px;
		}

		.user-image {
			@include size(200px);
			display: block;
			margin: 30px auto;
			background-position: center center;
			background-size: 100%;
			background-repeat: no-repeat;

		}

		.user-name {
			margin: 0 auto;
			text-align: center;
		}

		.sub-title{
			margin: 0 auto;
			text-align: center;
		}



		.achievements-list {
			height: 75%;
			width: 100%;
			padding: 0;
			list-style: none;
			overflow: scroll;
		}

		.achievement {
			margin-bottom: 20px;

			.achievements-image {
				@include size(55px);
				display: inline-block;
				background-position: center center;
				background-size: 100% 100%;
				border-radius: 50%;
			}

			.copy {
				display: inline-block;
				padding: 0 0 0 25px;
				vertical-align: top;
				width: 250px;

				.heading-02 {
					padding: 0;
					margin: 0;
				}

				.copy-01 {
					margin: 0;
				}
			}
		}
	}
}