/**
 *	Page - index
 */

.view.view-index {
	.box-shadow {
		box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	}
	display: block;

	.no-mobile {
		text-align: center;
	}

	@include respond-to('small')
	{
		.no-mobile{
			display: none;
		}


	}
}